body {
	background-color: #202032;
	font-family: "Consolas", monospace, sans-serif;
	max-width: 768px;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 24px;
}

h1 {
	text-align: center;
	color: #FFFFFF;
	font-size: 32px;
}

h2 {
	color: #FFFFFF;
	font-size: 24px;
	line-height: 1.5;
}

p {
	color: #D3D1E7;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}

a {
	color: #C76ED7;
	text-decoration: none;
}

img {
	width: 20%;
	max-width: 100px;
}

img:hover {
	transform: scale(2);
}